* {margin:0;padding:0}
button:focus { outline: 0}

//Weight
$regular: 400;
$light: 300;
$semibold: 600;

//Color
$green-color: #3aa322;
$blue-color: #4ec4ce;
$black-text-color: #000000;
$white-text-color: #fff;
$green_color_2: #96c873;
$gray_color: #f6fafb;

//Size
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f20: 20px;
$f24: 24px;
$f32: 32px;
$f36: 36px;
$f48: 48px;
$trans: 0.4s ease;
//font
@mixin font($size,$weight){
    font-family: 'Open Sans',sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@media (max-width:576px){
   .sideBar-Block{
       #sideBar {
        .sideBar-inner {
            height:100%;
            .sideBar-opened {
                ul {
                    height:100vh;
                    padding: 30px;
                    li {
                        list-style:none;
                        width: 100%;
                        margin-top: 25px;
                        &:nth-child(1){
                            margin-top: 0;
                        }
                        &:nth-child(2){
                            margin-top: 30px;
                        }
                        a {
                            color: $white-text-color;
                            text-transform: uppercase;
                            @include font($f16,$regular);
                            text-decoration: none;
                        }
                        i {
                            float: right;
                            color: $green-color;
                            font-size: $f24;
                            background: $white-text-color;
                            width: 25px;
                            height:25px;
                            padding-left:10px;
                            border-radius: 2px;
                        }
                    }
                    li.logo1 {
                        margin-bottom: 20px;
                    }
                }
            } // End sideBar-opened
        }
    }
    .sideBar-hidden {
        .content {
            height:100%;
            padding:30px;
            color: $white-text-color;
            h4 {
                @include font($f32,$regular);
                padding-top: 20px;
                text-align:center;
                span {
                    float:left;
                    font-size: $f32;
                }
            }
            .megaMenu {
                a {
                    display: block;
                    transition: $trans;
                    color: $white-text-color;
                    text-transform: uppercase;
                    @include font($f16,$regular);
                    text-decoration: none;
                    margin-top: 25px;
                    border-bottom: 1px solid $white-text-color;
                    padding-bottom: 10px;
                    &:hover {
                        color: $green-color-2;
                        transform: translateX(10px);
                    }
                }
            }
        }
    }
   }

    #web-wrapper {
        .overlay {
            width:100%;
            height: 100%;
            background: #000000a3;
            position: fixed;
            z-index: 1;
            right:0;
            top:0; 
            display: none;
        }
        #Navigation {
            .logo-area {
                span { display: block!important;float:left;}
                a.logo {
                    img {
                        margin-left: 15px;
                    }
                }
            }
            .main-nav {display: none!important;}
            .trial {
                li.help {display:none;}
                li.login {display:none;}
                li.try {
                    width: 100%;
                    a {
                        button {
                            transform: translateY(0)!important;
                            width:100%;
                        }
                    }
                }
            }
        }
        
        #banner {
            height: 60vh;
        }
            
    
        #register {
            form {
                display: block;
                input[type=text]{
                    width:100%;
                }
                button.reg {
                    padding: 8px 32px;
                    width:100%;
                    margin-top: 10px;
                }
            }
        }
    }
}
