/* line 2, style.scss */
* { margin: 0; padding: 0; }

/* line 3, style.scss */
button:focus { outline: 0; }

/* line 71, style.scss */
#web-wrapper #intro h1, #web-wrapper #solve h1, #web-wrapper #bpos h1, #web-wrapper #other h1, #web-wrapper #feedback h1 { font-family: 'Open Sans',sans-serif; font-size: 32px; font-weight: 300; padding: 60px 0 40px 0; }

/* line 75, style.scss */
#web-wrapper #bpos h3, #web-wrapper #other h3 { font-family: 'Open Sans',sans-serif; font-size: 24px; font-weight: 300; padding-bottom: 50px; margin-top: -30px; }

/* line 81, style.scss */
.sideBar-Block { width: 280px; height: 100%; overflow: hidden; position: fixed; display: none; }
/* line 87, style.scss */
.sideBar-Block #sideBar, .sideBar-Block .sideBar-hidden { width: 280px; height: 100%; overflow: hidden; position: fixed; z-index: 2; left: 0; background: #3aa322; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 99, style.scss */
.sideBar-Block .sideBar-hidden { -webkit-transform: translateX(100%); transform: translateX(100%); z-index: 3; opacity: 0; visibility: hidden; }

/* line 107, style.scss */
#web-wrapper { -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 109, style.scss */
#web-wrapper #Navigation { background: #fff; -webkit-transition: 0.4s ease; transition: 0.4s ease; height: 80px; line-height: 80px; position: fixed; width: 100%; z-index: 9999; }
/* line 117, style.scss */
#web-wrapper #Navigation .row { padding-top: 0; padding-bottom: 0; }
/* line 121, style.scss */
#web-wrapper #Navigation .row .logo-area span { display: none; cursor: pointer; font-size: 24px; }
/* line 126, style.scss */
#web-wrapper #Navigation .row .logo-area a.logo { padding-top: 15px; padding-bottom: 20px; }
/* line 129, style.scss */
#web-wrapper #Navigation .row .logo-area a.logo img { width: 60%; }
/* line 134, style.scss */
#web-wrapper #Navigation .row .main-nav { padding-left: 0; }
/* line 138, style.scss */
#web-wrapper #Navigation .row ul li { list-style: none; position: relative; -webkit-transition: 0.4s ease; transition: 0.4s ease; padding: 0 10px; }
/* line 143, style.scss */
#web-wrapper #Navigation .row ul li .megaMenu { display: none; -webkit-transition: 0.4s ease; transition: 0.4s ease; width: 250px; border-radius: 2px; height: auto; position: absolute; top: 70px; left: -10px; background: #000000a3; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 0; }
/* line 159, style.scss */
#web-wrapper #Navigation .row ul li .megaMenu a { display: block; margin-top: -30px; margin-bottom: -10px; font-family: 'Open Sans',sans-serif; font-size: 12px; font-weight: 400; color: #fff; }
/* line 165, style.scss */
#web-wrapper #Navigation .row ul li .megaMenu a:hover { -webkit-transform: translateX(10px); transform: translateX(10px); }
/* line 170, style.scss */
#web-wrapper #Navigation .row ul li a { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; text-transform: uppercase; color: #000000; text-decoration: none; -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 176, style.scss */
#web-wrapper #Navigation .row ul li a:hover { color: #3aa322; }
/* line 182, style.scss */
#web-wrapper #Navigation .row ul li:hover .megaMenu { display: block; }
/* line 188, style.scss */
#web-wrapper #Navigation .row .trial { padding-left: 0; }
/* line 192, style.scss */
#web-wrapper #Navigation .row .trial ul li a { text-transform: none; }
/* line 198, style.scss */
#web-wrapper #Navigation .row .trial ul li.try a button { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; background: transparent; color: #000000; background-repeat: no-repeat; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #3aa322), to(#4ec4ce)), -webkit-gradient(linear, left top, left bottom, color-stop(1000%, #3aa322), to(#4ec4ce)); background-image: linear-gradient(to bottom, #3aa322 100%, #4ec4ce 100%), linear-gradient(to bottom, #3aa322 1000%, #4ec4ce 100%); border-top: 2px solid #3aa322; border-bottom: 2px solid #4ec4ce; background-position: 0 0, 100% 0; background-size: 2px 0%; border-radius: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 7px 26px; -webkit-transform: translateY(-3px); transform: translateY(-3px); }
/* line 215, style.scss */
#web-wrapper button.reg { background: #3aa322; background: -webkit-gradient(linear, left top, left bottom, from(#96c873), to(#3aa322)); background: linear-gradient(to bottom, #96c873 0%, #3aa322 100%); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#96c873, endColorstr=#3aa322); font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 300; border-radius: 50px; padding: 8px 22px; }
/* line 221, style.scss */
#web-wrapper #banner { height: 90vh; background-image: url(../images/banner_02.png); background-size: cover; background-position: center; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; box-align: center; color: #fff; position: relative; overflow: hidden; }
/* line 233, style.scss */
#web-wrapper #banner .cover { width: 100%; height: 100%; background: black; opacity: 0.7; position: absolute; }
/* line 241, style.scss */
#web-wrapper #banner .inner h1 { font-family: 'Open Sans',sans-serif; font-size: 24px; font-weight: 300; }
/* line 244, style.scss */
#web-wrapper #banner .inner p { font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 300; }
/* line 248, style.scss */
#web-wrapper #banner .inner .angle-down { -webkit-transform: translateY(10vh); transform: translateY(10vh); }
/* line 250, style.scss */
#web-wrapper #banner .inner .angle-down i { font-size: 48px; cursor: pointer; opacity: 0.7; }
/* line 259, style.scss */
#web-wrapper #intro { background-image: url(../images/bg-2_12.png); background-position: center; background-size: cover; width: 100%; height: 100%; -webkit-box-shadow: inset 0px -5px 17px 0px #00000033; box-shadow: inset 0px -5px 17px 0px #00000033; }
/* line 270, style.scss */
#web-wrapper #intro .inner ._1block { margin-bottom: 40px; }
/* line 272, style.scss */
#web-wrapper #intro .inner ._1block .question-img { float: left; }
/* line 273, style.scss */
#web-wrapper #intro .inner ._1block .reason { padding-left: 75px; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
/* line 276, style.scss */
#web-wrapper #intro .inner ._1block .reason p.title { color: #3aa322; font-weight: 600; }
/* line 281, style.scss */
#web-wrapper #intro .inner ._1block button.reg { margin-left: 75px; }
/* line 288, style.scss */
#web-wrapper #solve { background: #f6fafb; width: 100%; height: 100%; }
/* line 295, style.scss */
#web-wrapper #solve ._1block { margin-bottom: 40px; }
/* line 297, style.scss */
#web-wrapper #solve ._1block .tick-img { float: left; }
/* line 299, style.scss */
#web-wrapper #solve ._1block .tick-img img { width: 42px; height: 42px; }
/* line 301, style.scss */
#web-wrapper #solve ._1block .solve { padding-left: 60px; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
/* line 304, style.scss */
#web-wrapper #solve ._1block .solve p.title { color: #000000; font-weight: 600; }
/* line 309, style.scss */
#web-wrapper #solve ._1block button.reg { margin-left: 75px; }
/* line 315, style.scss */
#web-wrapper #solve2 { background-image: url("../images/bg-4_02.png"); background-size: cover; background-position: center; width: 100%; height: 100%; padding: 40px 0; }
/* line 322, style.scss */
#web-wrapper #solve2 ._1block { margin-bottom: 40px; }
/* line 324, style.scss */
#web-wrapper #solve2 ._1block .tick-img { float: left; }
/* line 326, style.scss */
#web-wrapper #solve2 ._1block .tick-img img { width: 42px; height: 42px; }
/* line 328, style.scss */
#web-wrapper #solve2 ._1block .solve { padding-left: 60px; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
/* line 331, style.scss */
#web-wrapper #solve2 ._1block .solve p.title { color: #000000; font-weight: 600; }
/* line 336, style.scss */
#web-wrapper #solve2 ._1block button.reg { margin-top: 40px; }
/* line 343, style.scss */
#web-wrapper #bpos { background: #96c873; color: #fff; padding-bottom: 60px; }
/* line 354, style.scss */
#web-wrapper #bpos .inner p.title { font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 600; padding-top: 20px; }
/* line 358, style.scss */
#web-wrapper #bpos .inner p.text { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
/* line 362, style.scss */
#web-wrapper #bpos button.reg { background: #fff; color: #000000; border: none; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
/* line 370, style.scss */
#web-wrapper #other { padding-bottom: 60px; }
/* line 375, style.scss */
#web-wrapper #other .inner ._1line { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; margin-bottom: 30px; }
/* line 378, style.scss */
#web-wrapper #other .inner ._1line img { float: left; }
/* line 379, style.scss */
#web-wrapper #other .inner ._1line p { padding-left: 50px; }
/* line 384, style.scss */
#web-wrapper #feedback { background-image: url(../images/bg-feedback.png); background-size: cover; padding-bottom: 60px; }
/* line 390, style.scss */
#web-wrapper #feedback .slider ._1fb { font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 300; }
/* line 392, style.scss */
#web-wrapper #feedback .slider ._1fb p.name { font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 600; }
/* line 396, style.scss */
#web-wrapper #feedback .slider .owl-dots { text-align: left; }
/* line 399, style.scss */
#web-wrapper #feedback .slider .owl-dots .owl-dot span { background: #3aa322; }
/* line 404, style.scss */
#web-wrapper #feedback .slider .owl-dots .owl-dot.active span { background: #96c873; }
/* line 412, style.scss */
#web-wrapper #register { padding: 40px 0; }
/* line 414, style.scss */
#web-wrapper #register img { float: left; width: 120px; height: 120px; }
/* line 419, style.scss */
#web-wrapper #register h1 { font-family: 'Open Sans',sans-serif; font-size: 32px; font-weight: 300; }
/* line 422, style.scss */
#web-wrapper #register form { display: inline-block; padding-top: 30px; }
/* line 425, style.scss */
#web-wrapper #register form input[type=text] { width: 500px; border-radius: 50px; background: #f6fafb; border-style: solid; border: none; padding: 10px 22px; margin-right: 10px; }
/* line 434, style.scss */
#web-wrapper #register form input[type='text'] { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 300; }
/* line 437, style.scss */
#web-wrapper #register form p#notify { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 600; color: red; text-align: left; padding-left: 20px; padding-top: 10px; }
/* line 444, style.scss */
#web-wrapper #register form button.reg { padding: 8px 32px; }
/* line 450, style.scss */
#web-wrapper #footer { background: #000000; padding: 40px 0; color: #f6fafb; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 300; }
/* line 455, style.scss */
#web-wrapper #footer img { width: 30%; }
/* line 456, style.scss */
#web-wrapper #footer .location { padding-top: 20px; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 600; }
/* line 459, style.scss */
#web-wrapper #footer .location a { color: #f6fafb; text-decoration: none; }
/* line 464, style.scss */
#web-wrapper #footer h5 { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 600; padding-bottom: 20px; }
/* line 470, style.scss */
#web-wrapper #footer .list-link ul li { list-style: none; margin-bottom: 10px; }
/* line 473, style.scss */
#web-wrapper #footer .list-link ul li a { color: #f6fafb; text-decoration: none; -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 477, style.scss */
#web-wrapper #footer .list-link ul li a:hover { color: #3aa322; }
/* line 485, style.scss */
#web-wrapper #footer ul.list-social li { list-style: none; margin-right: 5px; width: 30px; height: 30px; background: #f6fafb; border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 494, style.scss */
#web-wrapper #footer ul.list-social li:hover { background: #3aa322; }
/* line 496, style.scss */
#web-wrapper #footer ul.list-social li:hover a { color: #fff; }
/* line 500, style.scss */
#web-wrapper #footer ul.list-social li a { color: #000000; -webkit-transition: 0.4s ease; transition: 0.4s ease; }
/* line 503, style.scss */
#web-wrapper #footer ul.list-social li a i { padding-left: 10px; padding-top: 7px; }

@-webkit-keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -20%, 0); transform: translate3d(0, -20%, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -20%, 0); transform: translate3d(0, -20%, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
/* line 543, style.scss */
.fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

/* line 547, style.scss */
#sideBar.show, .sideBar-Block .show.sideBar-hidden { -webkit-transform: translateX(0%); transform: translateX(0%); }

/* line 550, style.scss */
.sideBar-hidden.move-left { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; visibility: visible; }

/* line 556, style.scss */
#web-wrapper .overlay.xh { display: block; }

/* line 560, style.scss */
#web-wrapper.move-right { -webkit-transform: translateX(280px); transform: translateX(280px); }

/* line 564, style.scss */
#Navigation.fixed { position: fixed; top: 0; z-index: 999; width: 100%; -webkit-box-shadow: -1px 7px 15px 0 #0000002b; box-shadow: -1px 7px 15px 0 #0000002b; }

/* line 1, _mobile.scss */
* { margin: 0; padding: 0; }

/* line 2, _mobile.scss */
button:focus { outline: 0; }

@media (max-width: 576px) { /* line 35, _mobile.scss */
  .sideBar-Block { display: block; }
  /* line 38, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner, .sideBar-Block .sideBar-hidden .sideBar-inner { height: 100%; }
  /* line 41, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul, .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul { height: 100vh; padding: 30px; }
  /* line 44, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li, .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li { list-style: none; width: 100%; margin-top: 25px; }
  /* line 48, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li:nth-child(1), .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li:nth-child(1) { margin-top: 0; }
  /* line 51, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li:nth-child(2), .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li:nth-child(2) { margin-top: 30px; }
  /* line 54, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li a, .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li a { color: #fff; text-transform: uppercase; font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 400; text-decoration: none; }
  /* line 60, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li i, .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li i { float: right; color: #3aa322; font-size: 24px; background: #fff; width: 25px; height: 25px; padding-left: 10px; border-radius: 2px; }
  /* line 71, _mobile.scss */
  .sideBar-Block #sideBar .sideBar-inner .sideBar-opened ul li.logo1, .sideBar-Block .sideBar-hidden .sideBar-inner .sideBar-opened ul li.logo1 { margin-bottom: 20px; }
  /* line 79, _mobile.scss */
  .sideBar-Block .sideBar-hidden .content { height: 100%; padding: 30px; color: #fff; }
  /* line 83, _mobile.scss */
  .sideBar-Block .sideBar-hidden .content h4 { font-family: 'Open Sans',sans-serif; font-size: 32px; font-weight: 400; padding-top: 20px; text-align: center; }
  /* line 87, _mobile.scss */
  .sideBar-Block .sideBar-hidden .content h4 span { float: left; font-size: 32px; }
  /* line 93, _mobile.scss */
  .sideBar-Block .sideBar-hidden .content .megaMenu a { display: block; -webkit-transition: 0.4s ease; transition: 0.4s ease; color: #fff; text-transform: uppercase; font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 400; text-decoration: none; margin-top: 25px; border-bottom: 1px solid #fff; padding-bottom: 10px; }
  /* line 103, _mobile.scss */
  .sideBar-Block .sideBar-hidden .content .megaMenu a:hover { color: #96c873; -webkit-transform: translateX(10px); transform: translateX(10px); }
  /* line 114, _mobile.scss */
  #web-wrapper .overlay { width: 100%; height: 100%; background: #000000a3; position: fixed; z-index: 1; right: 0; top: 0; display: none; }
  /* line 126, _mobile.scss */
  #web-wrapper #Navigation .logo-area span { display: block !important; float: left; }
  /* line 128, _mobile.scss */
  #web-wrapper #Navigation .logo-area a.logo img { margin-left: 15px; }
  /* line 133, _mobile.scss */
  #web-wrapper #Navigation .main-nav { display: none !important; }
  /* line 135, _mobile.scss */
  #web-wrapper #Navigation .trial li.help { display: none; }
  /* line 136, _mobile.scss */
  #web-wrapper #Navigation .trial li.login { display: none; }
  /* line 137, _mobile.scss */
  #web-wrapper #Navigation .trial li.try { width: 100%; }
  /* line 140, _mobile.scss */
  #web-wrapper #Navigation .trial li.try a button { -webkit-transform: translateY(0) !important; transform: translateY(0) !important; width: 100%; }
  /* line 149, _mobile.scss */
  #web-wrapper #banner { height: 60vh; }
  /* line 155, _mobile.scss */
  #web-wrapper #register form { display: block; }
  /* line 157, _mobile.scss */
  #web-wrapper #register form input[type=text] { width: 100%; }
  /* line 160, _mobile.scss */
  #web-wrapper #register form button.reg { padding: 8px 32px; width: 100%; margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */